.background{
    display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	background: url("../../images/wallpaperflare.com_wallpaper.jpg");
	background-size: cover;
	background-position: 100%;
}

.recipesContainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	gap: 20px 20px;
	padding-top: 50px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  margin-left: 10%;
}

.loading img {
	width: 80%;
	height: 80%;
	object-fit: cover;
}


.noHayTarjetas {
	font-family: "Playfair Display", serif;
	color: white;
	font-size: 6em;
	line-height: 1em;
}


.Nav {
	display: flex;
	border-radius: 10px;
	flex-direction: row;
	width: 98%;
	padding: 15px;
	bottom: 15px;
	height: 80px;
	background-color: rgba(4, 1, 3, 0.521);
  }
  
  .navLink {
	display: flex;
	justify-content: space-around;
	font-size: 20px;
	width: 100%;
  }
 
  
.input {
	border: 2px solid #ccc;
	padding: 5px;
	border-radius: 5px;
	font-size: 14px;
	width: 100%;
	max-width: 200px;
  }

  .btn {
	min-width: 80px;
    margin: 0.5em;
    height: 30px;
	font-size: 14px;
	background-image: linear-gradient(109.6deg, #000000 40%, #b97f13 70%);
    border-color: #ffffff;
    cursor: pointer;
    border-radius: 0.5em;
    color: white;
}

.active {
	color: rgb(158, 155, 155);
	font-weight: bold;
	text-decoration: none;
  }

  .disable {
	color: #f6f4e6;
	text-decoration: none;
  }
  
  .selectsContainer {
	display: flex;
	align-items: center;
	margin: 10px 0;
	justify-content: space-between;
	gap: 1em;
	position: relative;
}

.pageBtnContainer {
	display: flex;
	margin: 10px 0;
	gap: 0.5em;
	justify-content: center;
	background-color: #3837385d;
	border-radius: 50px;
	padding: 5px 5px;
	position: relative;
}


.btnPage {
	background-image: linear-gradient(109.6deg, #212121 40%, #0b0302 70%);
	color: white;
	font-weight: bold;
	cursor: pointer;
    border-radius: 0.5em;
	font-size: 20px;
}

.btonPage button.active {
	background-color: #2f2b2a;
	color: gray;
}

@media (max-width: 900px) {
		.recipesContainer {
		justify-content: space-around;
	}
}